<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xxml" href="/components/images/MMMEA.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>Know about MUT Mechanical and mechatronics Engineering Association</title>
</head>
<body>
    <nav class="f">
            <div class="div">
            <div class="d">
                <img class="c" src="/components/images/Mmmea 3;2.png" alt="pic"></img>
                <span class="a">
                <h1><i>Murang'a University of Technology Mechanical</i></h1>
                 <h1><i>and Mechatronics Engineering Association🚀</i></h1>
                </span>
            </div>
            <div class="b" >
             <h3>
             <a href="index.html">Home</a>
             <a href="about.html">About us🪴</a> 
             <a href="events.html">Activities</a> 
             <a href="schedule.html">Our Schedule⌚</a> 
             <a href="register.html">Register☑️</a>
             <a href="contact.html">Contact Us📞</a>
             </h3>
            </div>
            </div>
    </nav>
   <rs-layer class="mebimagz">
    
    <img class="imagz" src="/components/images/members pic 3.jpg" alt="picture" height="500px" margin-top="70%"/> 
    
       
    <section class="section1">
         <h1 class="hh1">Passionate Engineers come together, work diligently and finally change the world into better place to live</h1>
         <p><h4>MMMEA is an association in Muranga University of technology created by passionate self-driven technologist who aim at bringing a magnificent change in the field of engineering</h4></p>
    </section>
</rs-layer>
</body>
</html>