<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xxml" href="files/mmmea11.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Know about MUT Mechanical and Mechatronics Engineering Association</title>
</head>
<body>
    <div class="topspace"></div>
    <nav class="f">
            <div class="div">
            <div class="d">
                <img class="c" src="files/mmmea3;22.png" alt="pic"></img>
                <span class="a">
                <h1><i>Murang'a University of Technology Mechanical</i></h1>
                 <h1><i>and Mechatronics Engineering Association🚀</i></h1>
                </span>
            </div>
            <div class="hamburger-menu">
                <button class="hamburger" onclick="toggleMenu()">☰</button>
              </div>
            <div class="b" id="navLinks" >
             <h3>
             <a class="aa" href="index.html">Home</a>
             <span class="hover-word" id="hoverWord">About us🪴
                <div class="popup" id="popup">
                    <a  href="about.html"  >About MMMEA</a>
                    <a  href="Leaderspage.html" >MMMEA Leadership</a>
                </div>
              </span> 
             <a class="aa" href="events.html">Activities</a> 
             <a class="aa" href="schedule.html">Our Schedule⌚</a> 
             <a class="aa" href="register.html">Register☑️</a>
             <a class="aa" href="contact.html">Contact Us📞</a>
             </h3>
            </div>
            </div>
    </nav>
   <rs-layer class="mebimagz">
    
    <img class="imagz" src="files/us pic.png" alt="picture" height="500px" margin-top="70%"/> 
   </rs-layer>
       
    <section class="section1">
        <div>
         <h1 class="hh1">MUT MECHANICAL AND MECHATRONICS ENGINEERING ASSOCIATION HISTORY</h1>
         <h3 class="mmmeahistory">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ad est nemo! Pariatur quis incidunt repudiandae amet nostrum illo quae sequi veniam ducimus! Maiores repellat tenetur impedit exercitationem quos aut?
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ducimus velit iure eum odit omnis ullam doloribus, quam nisi, quasi corporis repudiandae tenetur dolorum excepturi commodi! Error harum iste nesciunt.
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel dignissimos alias nemo qui debitis. Vitae quibusdam officiis, perspiciatis nostrum veniam quae. Voluptas perspiciatis numquam consequuntur amet consectetur in at fugit?
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem repellat maiores consequuntur. Ex quam, modi optio assumenda ullam nam expedita. Quisquam deserunt dicta explicabo nulla repudiandae quos modi voluptatem exercitationem.
         </h3>
        </div>
         <div>
            <i><h2>As members of MUT-MMEA, we foster exceptional networking opportunities</h2> </i>
            <img class="memoryphoto" src="files/mmmea members 4.jpg" alt=""/>
            
        </div>
    </section>
    <section class="vision">
        <div class="div11">
            <img class="philosophypic" src="files/members pic 3,3.jpg" alt="pic">
            <p><h1 class="vm">Our Philosophy </h1></p>
            <p class="pp2">“Innovate, Inspire, Engineer Excellence”.</p>
        </div>
        <div class="div22">
            <img src="files/members pic 3,3.jpg" alt="pic">
            <p> <h1 class="vm">Our Vision </h1></p>
            <p class="pp2">“To successfully combine fundamental 
                engineering knowledge, core leadership skills and practical experience gained at the
                 university to turn ideas into reality for the benefit of the society”.</p>
        </div>
        <div class="div33">
            
            <img src="files/members pic 3,3.jpg" alt="pic">
            <p> <h1 class="vm">Our Mission </h1></p>
            <p class="pp2">“To foster a culture of innovation and excellence 
                within the mechanical engineering community and to inspire and empower members 
                through collaborative learning sharing experiences and commitment to ethical 
                engineering practices”.</p>
        </div>
    </section>
    <h1 class="first">PRINCIPLES OF THE ASSOCIATION</h1>
   <h2 class="second">Our Association is governed by the following principles:</h2>
    
 <div  class="principlea">
    <h2 class="pb1">Ethical conduct and integrity:</h2>
    <h3 class="pb11">Members of the association are supposed to uphold high 
        standards of professionalism, integrity and ethical conduct in all activities</h3>
 </div>
 <div class="principleb">
    <h2 class="pb2">Networking, innovation and creativity:</h2>
    <h3 class="pb22">We encourage innovative thinking and creative 
        problem solving through competitions, design challenges.</h3>
 </div>
 <div class="principlec">
    <h2 class="pb3">Excellence and professionalism:</h2>
    <h3 class="pb33">Members are to embrace hard work and consistency in their academic pursuits 
        to achieve success.</h3>
 </div>
 <div class="principled">
    <section class="pb4"><h2>Respect and unity:</h2></section>
    <section class="pb44"><h3>Cultivate a sense of unity and camaraderie among members, fostering strong bonds and 
        friendships within the association.</h3></section> 
 </div>
 <div class="principlee">
    <h2 class="pb5">Collaboration and team work:</h2>
    <h3 class="pb55">Emphasizing the importance of collaboration and team 
        work in engineering projects and initiatives.</h3>
 </div>

 <div class="footer">
  <div class="footer1">
    <p>Email:mutmechanicalmechatronicsassoc@gmail.com </p>
    <p>Tell: +254-114 350 853 / +254-786 908 857</p>
    <p>Whatsapp:+254-746 491 671</p>
  </div>
  <div class="footer2">
    <h2 class="ql" >Quick links</h2>      
    <p><a class="a12x" href="about.html">About us page</a></p>
    <p><a class="a12x" href="events.html">Events page</a></p>
    <p><a class="a12x" href="schedule.html">Our workplan</a></p>
    <p><a class="a12x" href="contact.html">Contact mmmea</a></p>
  </div>
</div>
<div class="footerpage">
 <div class="footerpart">
  <p class="footertext">MUT-MMEA is a Registered and Approved student's association in Murang'a University of Technology under the 
    Murang'a University of Technology Act.Copyright &copy;2025, MUT-Mechanical and Mechatronics Engineering Association.All Rights Reserved. 
  </p>
 </div>
 <div class="social-icons" >
  <li><a href="https://www.facebook.com/share/p/1BpzUvEDPz/" target="_blank"><i class="fab fa-facebook"></i></a></li>
  <li><a href="https://www.instagram.com/mut_mea/" target="_blank"><i class="fab fa-instagram"></i></a></li>
  <li><a href="https://x.com/MUT_MMEA2025" target="_blank"><i class="fab fa-twitter"></i></a></li>
  <li><a href="contact.html" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
 </div>
</div>

<script src="about.js"></script>
</body>
</html>