......../* colors */.........
:root{
    --white: #FFFFFF;
    --grey: #979797;
    --red: #FF6565;
    --black: #071629;
    --green:rgb(7, 152, 84);
    --blue:rgb(5, 5, 42);
    }

....../*Navigation styling*/........
nav{
    display:flex
}

div{
    display:flex;  
   }

.b{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left:3% ;  
    margin-right:2px;
    flex:1.5;
    gap:120px;
    color:green;
    font-size:16px;
  }

.a{
    line-height: 0.4;
    color:black;


  }
.c{
   padding:1%;
   height:65px;
  }

.d{
    margin-right: auto;
    flex:1.5;
    font-size:12px;
    
  }

.aa{
    padding-right:23px;
 }

.aa:active {
    color: red;
 }
.aa:hover{
    color:red;
}

.aa{
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
 }
 .f{
  background:white;
  width:100%;
  position:fixed;
  top:22px;
  z-index: 1000;
 }
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    }
  .cont{
    margin-top:35px;
  }
  .topspace{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 22px;
    background-color:rgb(10, 137, 33);
    
  }

  /*....resposiveness...*/
 /*...humburger stlying...*/
 .hamburger-menu {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--black);
}

@media (max-width: 1509px) {
  .hamburger-menu {
      display: block;
  }
  .hamburger {
      display: block;
  }
  .b {
      display: none;
      flex-direction: column;
  }
  .b.open {
      display: flex;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

nav, .d, .b, .topspace {
  flex-wrap: wrap;
}


  
/*... Responsive styles.... */
@media (max-width: 1920px) {
  body {
    flex-direction: column;
  }
}

@media (max-width: 1920px) {
  .a {

    font-size:10px;
    flex-direction: column;
  }}
  
  @media (max-width: 1920px) {
    .c {
    height:50px;
    }}
  @media (max-width: 1920px) {
      .cont {
       padding-top:43px;
      }
    }

  /*...additional styling for nav links on small screens...*/
  @media (max-width: 1509px) {
    .b.open {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      top: 60px; 
      right: 20px;
      background:black;
      padding: 10px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
      z-index: 7000;
      
    }
    
    .b.open h3 {
      margin: 0;
      padding: 0;
    }
    
    .b.open a {
      font-size: 12px;
      padding: 5px 0;
      display: block;
      width: 100%;
      text-align: left;
      color:white;
    }}