<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xxml" href="files/mmmea11.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="events.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Students activities associated with MMMEA</title>
    
</head>
<body>/components/filez
  <div class="topspace"></div>
  <nav class="f">
    <div>
    <div class="hamburger-menu">
        <button class="hamburger" onclick="toggleMenu()">☰</button>
    </div>
    <div class="d">
        <img class="c" src="files/mmmea3;22.png" alt="pic"></img>
        <span class="a">
        <h1><i>Murang'a University of Technology Mechanical</i></h1>
         <h1><i>and Mechatronics Engineering Association🚀</i></h1>
        </span>
    </div>
    <div class="b" id="navLinks">
     <h3>
     <a class="aa" href="index.html">Home</a>
     <span class="hover-word" id="hoverWord">About us🪴
      <div class="popup" id="popup">
          <a  href="about.html"  >About MMMEA</a>
          <a  href="Leaderspage.html" >MMMEA Leadership</a>
      </div>
    </span>
     <a class="aa" href="events.html">Activities</a>  
     <a class="aa" href="schedule.html">Our Schedule⌚</a> 
     <a class="aa" href="register.html">Register☑️</a>
     <a class="aa" href="contact.html">Contact Us📞</a>
     </h3>
    </div>
    </div>
  </nav>
  <div class="image-container">
    <img class="cont" src="files/gamespic1.png" alt="" width="1645px">
    <div class="overlay"></div>
  </div>  
  <h1 class="textoverlay">MMMEA Students' Events</h1>
  <h1 class="event0">Fostering Growth and Connections with MUT-MMEA</h1>
  <div class="eventspagetext">
  <div class="event1"><h3><p>MUT-MMEA is an enthusiastic and dynamic student association dedicated to fostering meaningful engagement through diverse and enriching semester activities.
     These events encompass a wide range of interests, including sports, adventurous hikes, rejuvenating nature walks, charitable initiatives, community outreach programs, industrial tours, and many other stimulating and educational experiences.
    The association also offers peer tutoring sessions, where students teach and learn from one another, creating a supportive and collaborative learning environment.</p>

    <p>Participation is strongly encouraged for all members, as it not only promotes an active and vibrant mindset but also cultivates exceptional opportunities for networking with peers and building lasting connections within the academic community.
    The association aims to inspire personal growth, teamwork, and a sense of purpose while creating unforgettable memories for its members.</p></h3></div>
  <div class="event2"><img src="files/eventspic1.jpg" alt="" height="404px" width="526px"></div>
  </div>
  <h2 class="title1">SPORTS EVENTS</h2>
  <i class="sportstext"><p>Unleashing the full potential of individuals and teams through teamwork, passion, dedication,and <p>
    perseverance on the field.</p></i>
    <div class="sportpics">
      <div class="sportpic1"><img src="files/sportsimage1.jpg" alt="" width="474px" height="345px"></div>
      <div class="sportpic2"><img src="files/sportspic2.png" alt="" width="474" height="345px"></div>
      <div class="sportpic3"><img src="files/chess for engineers.jpg" alt="" width="474" height="345px"></div>
    </div>
    <h2 class="title1">Community outreach programs</h2>
    <section class="outreachtxt">
    <p class="outreachtext">The MMMEA student club is committed to creating positive change in the community through its outreach programs.
       These initiatives focus on addressing challenges such as education, social development, and environmental conservation,
        while fostering collaboration and inclusivity. By volunteering, organizing campaigns, planting trees, and providing essential resources,
         the club strengthens bonds with the community and inspires others to give back. Together, we can make a lasting difference.</p></section>
        <div class="outreach">
          <h2 class="outreachtext2">Fostering community engagement and environmental stewardship through tree-planting initiative.</h2>
         <img class="outreachpic" src="files/givingbackpic.png" alt="" height="406px">
        </div>
        <h2 class="title2">Adventurous hikes</h2>
    <section class="hikingtext">
      <p class="hikingtext">Join our association's exhilarating hiking adventures, where every step takes you closer to breathtaking landscapes, stronger bonds with fellow members, and unforgettable memories. 
        These hikes are more than just a journey-they are opportunities to challenge yourself, explore nature's beauty, and embrace the spirit of adventure. 
        Let's stride forward together and create experiences that inspire and energize.</p>
    </section>
    <div class="hikingpics">
      <div class="hikingpic1"><img src="files/hikingpic.png" alt="" width="474px" height="345px"></div>
      <div class="hikingpic2"><img src="files/hikingpic2.png" alt="" width="474" height="345px"></div>
      <div class="hikingpic3"><img src="files/hikingpic3.png" alt="" width="474" height="345px"></div>
    </div>
    <h2 class="title2">Peer tutoring sessions</h2>
    <div class="peering">
      <img class="peeringpic" src="files/peer tutoring.png" alt="" width="494px" height="355px">
    <h2 class="peertext">MUT-MMEA club enhances engineering learning experiences by offering structured peer tutoring sessions during master classes. 
      These sessions provide a collaborative platform for members to exchange ideas, address complex engineering concepts, and strengthen their technical expertise. 
      Additionally, they help members cultivate the foundational skills every engineer should possess, including problem-solving, critical thinking, teamwork, communication, and adaptability. 
      By fostering an environment of mutual support and intellectual growth, the association empowers its members to excel academically and professionally while 
      building meaningful connections within the engineering community.</h2>

    </div>
    <div class="thinline">
      <div class="thinlinelogo"></div>
    </div>
    <div class="footer">
      <div class="footer1">
        <p>Email:mutmechanicalmechatronicsassoc@gmail.com </p>
        <p>Tell: +254-114 350 853 / +254-786 908 857</p>
        <p>Whatsapp:+254-746 491 671</p>
      </div>
      <div class="footer2">
        <h2 class="ql" >Quick links</h2>      
        <p><a class="a12x" href="about.html">About us page</a></p>
        <p><a class="a12x" href="events.html">Events page</a></p>
        <p><a class="a12x" href="schedule.html">Our workplan</a></p>
        <p><a class="a12x" href="contact.html">Contact mmmea</a></p>
      </div>
    </div>
    <div class="footerpage">
     <div class="footerpart">
      <p class="footertext">MUT-MMEA is a Registered and Approved student's association in Murang'a University of Technology under the 
        Murang'a University of Technology Act.Copyright &copy;2025, MUT-Mechanical and Mechatronics Engineering Association.All Rights Reserved. 
      </p>
     </div>
     <div class="social-icons" >
      <li><a href="https://www.facebook.com/share/p/1BpzUvEDPz/" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/mut_mea/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://x.com/MUT_MMEA2025" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <li><a href="contact.html" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
     </div>
    </div>
  <script src="events.js"></script>
</body>
</html>