<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xxml" href="files/mmmea11.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>MUT Mechanical and Mechatronics Engineering Association</title>
    
</head>
<body class="body">
  
  <div class="topspace"></div>
   <nav class="f">
    <div>
    <div class="d">
        <img class="c" src="files/mmmea3;22.png" alt="pic"></img>
        <span class="a">
        <h1><i>Murang'a University of Technology Mechanical</i></h1>
         <h1><i>and Mechatronics Engineering Association🚀</i></h1>
        </span>
    </div>
    <div class="hamburger-menu">
      <button class="hamburger" onclick="toggleMenu()">☰</button>
    </div>
    <div class="b"id="navLinks" >
      <h3>
        <a class="aa" href="index.html">Home</a>
        <span class="hover-word" id="hoverWord">About us🪴
          <div class="popup" id="popup">
              <a  href="about.html"  >About MMMEA</a>
              <a  href="Leaderspage.html" >MMMEA Leadership</a>
          </div>
        </span>           
        <a class="aa" href="events.html">Activities</a>  
        <a class="aa" href="schedule.html">Our Schedule⌚</a> 
        <a class="aa" href="register.html">Register☑️</a>
        <a class="aa" href="contact.html">Contact Us📞</a>
        </h3>
    </div>
    </div>
  </nav>
  <div class="slideshow">
  <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
  <button class="next" onclick="changeSlide(1)">&#10095;</button>
  <a href="events.html"><img class="sacj" src="files/mmmea eng day pic2.png" alt="pic"></a>
  <a href="about.html"><img class= "sacj" src="files/land pic 3.jpg" alt="picture"></a>
  <a href="contact.html"><img  class= "sacj" src="files/slideshowpic5.png" alt="pic"></a>
  <a href="index.html"><img class="sacj active" src="files/land pg pic1,2.png" alt="pic" height="447px" width="100%" object-fit="fill"></a>
  </div>
  <div class="blockleft"></div>
    <div>
    

      <div class="moving-container">
      
      <h2 class="moving-text"onmouseover="pauseAnimation()" onmouseout="resumeAnimation()">
        <span><a href="register.html" class="yt">Join the MUT Mechanical and Mechtronics Engineering Association </a></span>
        <span><a href="events.html" class="yt">where you immerse yourself in groundbreaking experiences in the field of engineering and expand your professional networking horizons</a></span>
      </h2>
      
    </div>
    <div class="blockright"></div>
    
   </div>
   <p><h1 class="quick">Quick view of MMMEA</h1></p>
     
      <div class="acc">
      <div class="ace">      
       <h2 class="abts">About Us</h2>
       <p class="acd"><i class="fas fa-eye" style="color:blue;"></i>
       VISION:"To successfully combine fundamental 
       engineering knowledge, core leadership skills and practical experience gained at the
       university to turn ideas into reality for the benefit of the society"</h3></p>
       <p class="acd"><i class="fas fa-bullseye" style="color:blue;"></i>
        MISSION:"To foster a culture of innovation and excellence 
        within the mechanical and mechatronics engineering community and to inspire and empower members 
        through collaborative learning sharing experiences and commitment to ethical 
        engineering practices"</p>
       <P class="acd"><i class="fas fa-tasks" style="color:blue;"></i>
        OBJECTIVIES:
        <li>To foster unity and cooperation amongst mechanical, mechatronics &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;engineering students.</li>
        <li>To impact Engineering knowledge through group discussions.</li>
        <li>To promote and protect interests of the club members.</li>
         </P>
       </div> 
      <div class="sscl"><img class="sscl" src="files/mmmea logo.jpg" alt="pic" height="486px" width="536px"> 
      <p class="button"><a class="yatch"  href="about.html">Read more</a></p></div>  
   </div>
   
   <h2 class="schedl">Our Schedule</h2>
   <div class="schedulesection">
     <div class="schedulepart">
      <img class="schedulepartimage"  src="files/schedule pic.png" alt="pic" width="445px" height="307px">
      <h3 class="readmore"><a class="schedulelink" href="MMMEA-Schedule.pdf" target="_blank">Read more</a></h3>
     </div>
     <div>
      <p class="add">The Mechanical and Mechatronics Engineering Association at Murang'a University of Technology organizes several meet-ups throughout each semester. 
        These meetups foster a strong sense of cooperation and collaboration among the club members, enhancing their teamwork and problem-solving skills.
         Additionally, the association plans and hosts a variety of engaging and educational events during the semester. These events not only provide valuable learning opportunities 
         but also promote innovation, inspire engineering creativity, and encourage active participation from students.
      </p>
     </div>
   </div>
   <h2 class="registerwith">Register with MUT-MMEA</h2>
   <div class="regwith">
    <div class="rg1"><h3 class="textregister">MUT-MMEA is committed to ensuring that its members have a secure place within the association through registration.</h3>

      <p class="textregister">Registration plays a vital role in:</p>
      <li class="lii">      
      Formalizing our membership for better recognition and structure.</li>
      
      <li class="lii">Accessing opportunities, benefits, and resources more effectively.</li>
      
      <li class="lii">Building a stronger, unified, and recognized association that fosters cohesion.</li>
      
      <li class="lii">Upholding transparency and accountability among all members.</li></div>
      </p>
      <div class="rg2" ><a class="rg2" href="register.html"><img src="files/registerimage.png" alt="pic" height="336px" width="634px"></a></div>
   </div>
   <div class="thinline">
     <div class="thinlinelogo"></div>
   </div>
   <h1 class="ww">MUT-MMEA</h1>
   <p class="ww2">"Innovate & Inspire Engineering"</p>


   <div class="shortcut">
         <div class="y1">
           <a href="about.html"><img class="hoverimage" src="files/aboutimagelink.jpg" alt="pic" height="277px" width="406px"></a>
           <h2 class="schedulea">Explore more about MMMEA </h2>
         </div>
         <div class="y2">
          <a href="events.html"><img class="hoverimage" src="files/eventslinkimage.jpg" alt="pic" height="277px" width="406px"></a>
            <h3 class="scheduleb">Get involved, make connections, and explore your interests with our amazing array of events.</h3>
         </div>
         <div class="y3">
          <a href="schedule.html"><img class="hoverimage" src="files/scheduleimagelink.png" alt="pic" height="277px" width="406px"></a>
          <h3 class="schedulec">Check out our schedule and plan ahead to make </h3>
          <h3 class="schedulec">sure you're available</h3>
         </div>
  </div>

  <div class="footer">
    <div class="footer1">
      <p>Email:mutmechanicalmechatronicsassoc@gmail.com </p>
      <p>Tell: +254-114 350 853 / +254-786 908 857</p>
      <p>Whatsapp:+254-746 491 671</p>
    </div>
    <div class="footer2">
      <h2 class="ql" >Quick links</h2>      
      <p><a class="a12x" href="about.html">About us page</a></p>
      <p><a class="a12x" href="events.html">Events page</a></p>
      <p><a class="a12x" href="schedule.html">Our workplan</a></p>
      <p><a class="a12x" href="contact.html">Contact mmmea</a></p>
    </div>
  </div>
  <div class="footerpage">
   <div class="footerpart">
    <p class="footertext">MUT-MMEA is a Registered and Approved student's association in Murang'a University of Technology under the 
      Murang'a University of Technology Act.Copyright &copy;2025, MUT-Mechanical and Mechatronics Engineering Association.All Rights Reserved. 
    </p>
   </div>
   <div class="social-icons" >
    <li><a href="https://www.facebook.com/share/p/1BpzUvEDPz/" target="_blank"><i class="fab fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/mut_mea/" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://x.com/MUT_MMEA2025" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="contact.html" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
   </div>
  </div>
   <script src="index.js"></script>
  </body>
  </html>