<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registration.css">
    <title>MUT Mechanical and mechatronics Engineering Association registration form</title>
</head>
<body>
    <nav>
        <span>
            <img src="/components/images/Mmmea 3;2.png" alt="pic">
            <h1>MMMEA🚀</h1>
        </span>
        <div class="b">
         <h2>
         <a href="index.html">Home</a>  
         <a href="schedule.html">Our Schedule</a> 
         </h2>
        </div>
   <H2>Register here</H2> 
</body>
</html>