<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xxml" href="files/mmmea logo.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registration.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>MUT-MMMEA Registration</title>
</head>
<body>
    <div class="topspace"></div>
    <nav class="f">
        <div>
            <div class="d">
                <img class="c" src="files/mmmealogo2.jpg" alt="pic"></img>
                <span class="a">
                <h1><i>Murang'a University of Technology Mechanical</i></h1>
                 <h1><i>and Mechatronics Engineering Association🚀</i></h1>
                </span>
            </div>
            <div class="hamburger-menu">
                <button class="hamburger" onclick="toggleMenu()">☰</button>
            </div>
            <div class="b" id="navLinks" >
             <h3>
             <a class="aa" href="index.html">Home</a>
             <span class="hover-word" id="hoverWord">About us🪴
                <div class="popup" id="popup">
                    <a  href="about.html"  >About MMMEA</a>
                    <a  href="Leaderspage.html" >MMMEA Leadership</a>
                </div>
              </span> 
             <a class="aa" href="events.html">Activities</a> 
             <a class="aa" href="schedule.html">Our Schedule⌚</a> 
             <a class="aa" href="register.html">Register☑️</a>
             <a class="aa" href="contact.html">Contact Us📞</a>
             </h3>
            
     </nav>

     <div class="image-container">
        <img class="cont" src="files/registeroverlaypic.png" alt="" width="1645px">
        <div class="overlay"></div>
      </div>
      <h1 class="registeroverlaytext">REGISTRATION</h1>
      <section class="vicechair"><a  href="register.html" alt=""><button class="buttonvice">⬅</button></a></section>
     <div class="registrationbody"> <H3><p class="registrationtext">Upon completion of KSH 100 registration fee payment, 
        members are required to forward the M-Pesa confirmation message to the treasurer MUT-MMEA 
         to facilitate accurate payment documentation and 
        proper identification of the designated member owner.</p>
        <p><h2 class="treasuree">NAME:Francis Ndung'u Rutino {Treasurer MUT-MMEA}</h2></p>
        <p><h2 class="treasuree">Whatsapp:+254-714 522 503</h2></p>
      </H3></div>
      <div class="approval">
        <h2 class="approvaltext">
            Following approval by the Treasurer of MUT-MMEA,a member is required to complete the official membership form. 
            This form serves as formal documentation and a tangible record, verifying the individual as a fully registered and recognized member of the MUT-MMEA club.
             Once the form is duly completed, it must be submitted to the Secretary of MUT-MMEA during <a class="approvalschedulelink" href="schedule.html">a scheduled club meeting</a> to facilitate proper record-keeping and administrative purposes.
        </h2>
        <a href="files/membershipform.jpg" target="_blank">
            <div class="membershipformpic" >        
                <img class="membershipform" src="files/membershipform.png" alt="">
                <div class="overlay2">
                    <div class="overlay-text">Download</div>
                  </div>
            </div></a>
        
      </div>
    </div>
    <div class="thinline">
      <div class="thinlinelogo"></div>
    </div>
    <div class="footer">
      <div class="footer1">
        <p class="email">Email:mutmechanicalmechatronicsassoc@gmail.com </p>
        <p>Tell: +254-114 350 853 / +254-786 908 857</p>
        <p>Whatsapp:+254-746 491 671</p>
      </div>
      <div class="footer2">
        <h2 class="ql" >Quick links</h2>      
        <p><a class="a12x" href="about.html">About us page</a></p>
        <p><a class="a12x" href="events.html">Events page</a></p>
        <p><a class="a12x" href="schedule.html">Our workplan</a></p>
        <p><a class="a12x" href="contact.html">Contact mmmea</a></p>
      </div>
    </div>
    <div class="footerpage">
     <div class="footerpart">
      <p class="footertext">MUT-MMEA is a Registered and Approved student's association in Murang'a University of Technology under the 
        Murang'a University of Technology Act.Copyright &copy;2025, MUT-Mechanical and Mechatronics Engineering Association.All Rights Reserved. 
      </p>
     </div>
     <div class="social-icons" >
      <div><li><a href="https://www.facebook.com/share/p/1BpzUvEDPz/" target="_blank"><i class="fab fa-facebook"></i></a></li></div>
      <div><li><a href="https://www.instagram.com/mut_mea/" target="_blank"><i class="fab fa-instagram"></i></a></li></div>
      <div><li><a href="https://x.com/MUT_MMEA2025" target="_blank"><i class="fab fa-twitter"></i></a></li></div>
      <div><li><a href="contact.html" alt=""><i class="fab fa-whatsapp"></i></a></li></div>
     </div>
    </div>
      <script src="registration.js"></script>
</body>
</html>