:root{
    --white: #FFFFFF;
    --grey: #979797;
    --red: #FF6565;
    --black: #071629;
    --green:rgb(7, 152, 84);
    --blue:rgb(5, 5, 42);
    }


......./*Stlying whole body*/.........
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    }



....../*Navigation styling*/........
nav{
    
    display:flex;
    background:rgba(239, 239, 245, 0.5); 
    width:100%
    }

div{
    display:flex;  
   }

.b{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left:3% ;  
    margin-right:2px;
    flex:1.5;
    gap:120px;
    color:green;
  }

.a{
    line-height: 0.4;
    color:black;

  }
.c{
   padding:1% 
  }

.d{
    margin-right: auto;
    flex:1.5;
    
  }

a{
    padding-right:45px;
 }

a:active {
    color: red;
 }
a:hover{
    color:red;
}

a{
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
 }
 