<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xxml" href="files/mmmea logo.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="schedule.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Our Meetings Schedule, MUT Mechanical and Mechatronics Engineering Association</title>
</head>
<body>
    <div class="topspace"></div>
    <nav class="f">
        <div>
        <div class="d">
            <img class="c" src="files/mmmealogo2.jpg" alt="pic"></img>
            <span class="a">
            <h1><i>Murang'a University of Technology Mechanical</i></h1>
             <h1><i>and Mechatronics Engineering Association🚀</i></h1>
            </span>
        </div>
        <div class="hamburger-menu">
            <button class="hamburger" onclick="toggleMenu()">☰</button>
        </div>
        <div class="b" id="navLinks" >
         <h3>
         <a class="aa" href="index.html">Home</a>
         <span class="hover-word" id="hoverWord">About us🪴
          <div class="popup" id="popup">
              <a  href="about.html"  >About MMMEA</a>
              <a  href="Leaderspage.html" >MMMEA Leadership</a>
          </div>
        </span>
         <a class="aa" href="events.html">Activities</a>  
         <a class="aa" href="schedule.html">Our Schedule⌚</a> 
         <a class="aa" href="register.html">Register☑️</a>
         <a class="aa" href="contact.html">Contact Us📞</a>
         </h3>
        </div>
    </div>
     </nav>
     <div class="image-container">
        <img class="cont" src="files/scheduleoverlaypic.png" alt="" width="1645px">
        <div class="overlay"></div>
      </div>
     <i><h1 class="sched">OUR MEETUPS AND PLANS</h1></i>
      
     <div class="title"><h1 class="schedulepagetext">January - March 2025 Workplan</h1>
     <h2 class="scheduletext">Welcome to another exciting semester with MMMEA! 
        Our workplan for January to March 2025 is designed to inspire learning, foster collaboration, and strengthen our community. 
         The activities lined up aim to enhance both technical and personal development while providing opportunities for fun and relaxation.
         <p>Brief overview of the scheduled events and what you can expect:</p></h2></div>
        <div class="schedule">
         <div class="schedule2">
         <p><li class="schedulelist">Masterclasses on CAD, coding, and electronics to sharpen our technical expertise.</li>

            <li class="schedulelist">Hiking and Fun Day at Monkey Bay for relaxation and bonding.</li></li>
            
            <li class="schedulelist">Industrial Visit to Wanjii Kengen Company to gain practical insights into the field of engineering.</li>
            
            <li class="schedulelist">Faculty Talks, peer tutoring sessions, and guest speakers to inspire and mentor us.</li>
            
            <li class="schedulelist">Sports Day for teamwork and wellness.</li>
            
            <li class="schedulelist">Innovation Growth Project Presentations to showcase creativity and collaboration.</li>
            
            <li class="schedulelist">Wrapping up with an epic end-of-semester bash to celebrate our achievements!</li></p>
            </div>
            <a href="MMMEA-Schedule.pdf" target="_blank">
            <div class="schedpic" >        
                <img class="schedulepic" src="files/schedulepic2.png" alt="">
                <div class="overlay2">
                    <div class="overlay-text">Click to Open</div>
                  </div>
            </div></a>
        </div>
        <div class="conclusion">
            <p class="scheduleconclusiontext">Mark your calendars and stay ahead.Ensure your availability to be part of transformative experiences, 
                unforgettable adventures, and meaningful connections that inspire growth, learning, and joy. 
                Don’t miss the chance to make memories that last a lifetime</p>
            <button class="button4"><a  class="buttontext" href="MMMEA-Schedule.pdf" target="_blank">Download Workplan </a></button>
        </div>
       </div>

    <div class="thinline">
      <div class="thinlinelogo"></div>
    </div>
    <div class="footer">
      <div class="footer1">
        <p class="email">Email:mutmechanicalmechatronicsassoc@gmail.com </p>
        <p>Tell: +254-114 350 853 / +254-786 908 857</p>
        <p>Whatsapp:+254-746 491 671</p>
      </div>
      <div class="footer2">
        <h2 class="ql" >Quick links</h2>      
        <p><a class="a12x" href="about.html">About us page</a></p>
        <p><a class="a12x" href="events.html">Events page</a></p>
        <p><a class="a12x" href="schedule.html">Our workplan</a></p>
        <p><a class="a12x" href="contact.html">Contact mmmea</a></p>
      </div>
    </div>
    <div class="footerpage">
     <div class="footerpart">
      <p class="footertext">MUT-MMEA is a Registered and Approved student's association in Murang'a University of Technology under the 
        Murang'a University of Technology Act.Copyright &copy;2025, MUT-Mechanical and Mechatronics Engineering Association.All Rights Reserved. 
      </p>
     </div>
     <div class="social-icons" >
      <div><li><a href="https://www.facebook.com/share/p/1BpzUvEDPz/" target="_blank"><i class="fab fa-facebook"></i></a></li></div>
      <div><li><a href="https://www.instagram.com/mut_mea/" target="_blank"><i class="fab fa-instagram"></i></a></li></div>
      <div><li><a href="https://x.com/MUT_MMEA2025" target="_blank"><i class="fab fa-twitter"></i></a></li></div>
      <div><li><a href="contact.html" alt=""><i class="fab fa-whatsapp"></i></a></li></div>
     </div>
    </div>
     <script src="schedule.js"></script>
    </body>
    </html> 