<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xxml" href="/components/in/mmmea11.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>Know about MUT Mechanical and Mechatronics Engineering Association</title>
</head>
<body>
    <div class="topspace"></div>
    <nav class="f">
            <div class="div">
            <div class="d">
                <img class="c" src="/components/in/mmmea3;22.png" alt="pic"></img>
                <span class="a">
                <h1><i>Murang'a University of Technology Mechanical</i></h1>
                 <h1><i>and Mechatronics Engineering Association🚀</i></h1>
                </span>
            </div>
            <div class="hamburger-menu">
                <button class="hamburger" onclick="toggleMenu()">☰</button>
              </div>
            <div class="b" id="navLinks" >
             <h3>
             <a class="aa" href="index.html">Home</a>
             <a class="aa" href="about.html">About us🪴</a> 
             <a class="aa" href="events.html">Activities</a> 
             <a class="aa" href="schedule.html">Our Schedule⌚</a> 
             <a class="aa" href="register.html">Register☑️</a>
             <a class="aa" href="contact.html">Contact Us📞</a>
             </h3>
            </div>
            </div>
    </nav>
   <rs-layer class="mebimagz">
    
    <img class="imagz" src="/components/in/us pic.png" alt="picture" height="500px" margin-top="70%"/> 
    
       
    <section class="section1">
        <div>
         <h1 class="hh1">MUT MECHANICAL AND MECHATRONICS ENGINEERING ASSOCIATION HISTORY</h1>
         <h3></h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore ad est nemo! Pariatur quis incidunt repudiandae amet nostrum illo quae sequi veniam ducimus! Maiores repellat tenetur impedit exercitationem quos aut?
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ducimus velit iure eum odit omnis ullam doloribus, quam nisi, quasi corporis repudiandae tenetur dolorum excepturi commodi! Error harum iste nesciunt.
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel dignissimos alias nemo qui debitis. Vitae quibusdam officiis, perspiciatis nostrum veniam quae. Voluptas perspiciatis numquam consequuntur amet consectetur in at fugit?
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem repellat maiores consequuntur. Ex quam, modi optio assumenda ullam nam expedita. Quisquam deserunt dicta explicabo nulla repudiandae quos modi voluptatem exercitationem.
         </h3>
        </div>
         <div>
            <p><h2><i>Memories Photos</i></h2></p>
            <img src="/components/in/mmmea members 4.jpg" alt=""/>
            <i><h2>We build great networking as members of MMMEA</h2> </i>
        </div>
    </section>
    <section class="vision">
        <div class="div11">
            <img src="/components/in/members pic 3,3.jpg" alt="pic">
            <p><h1 class="vm">Our Philosophy </h1></p>
        </div>
        <div class="div22">
            <img src="/components/in/members pic 3,3.jpg" alt="pic">
            <p> <h1 class="vm">Our Vision </h1></p>
            <p class="pp2">To successfully combine fundamental 
                engineering knowledge, core leadership skills and practical experience gained at the
                 university to turn ideas into reality for the benefit of the society”.</p>
        </div>
        <div class="div33">
            
            <img src="/components/in/members pic 3,3.jpg" alt="pic">
            <p> <h1 class="vm">Our Mission </h1></p>
            <p class="pp2">“To foster a culture of innovation and excellence 
                within the mechanical engineering community and to inspire and empower members 
                through collaborative learning sharing experiences and commitment to ethical 
                engineering practices”.</p>
        </div>
    </section>
</rs-layer>
<script src="about.js"></script>
</body>
</html>