<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xxml" href="/components/in/mmmea11.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>MUT Mechanical and Mechatronics Engineering Association</title>
    
</head>
<body class="body">
  <div class="topspace"></div>
   <nav class="f">
    <div>
    <div class="d">
        <img class="c" src="/components/in/mmmea3;22.png" alt="pic"></img>
        <span class="a">
        <h1><i>Murang'a University of Technology Mechanical</i></h1>
         <h1><i>and Mechatronics Engineering Association🚀</i></h1>
        </span>
    </div>
    <div class="hamburger-menu">
      <button class="hamburger" onclick="toggleMenu()">☰</button>
    </div>
    <div class="b"id="navLinks" >
      <h3>
        <a class="aa" href="index.html">Home</a>
        <a class="aa" href="about.html">About us🪴</a>
        <a class="aa" href="events.html">Activities</a>  
        <a class="aa" href="schedule.html">Our Schedule⌚</a> 
        <a class="aa" href="register.html">Register☑️</a>
        <a class="aa" href="contact.html">Contact Us📞</a>
        </h3>
    </div>
    </div>
  </nav>
  <div class="slideshow">
  <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
  <button class="next" onclick="changeSlide(1)">&#10095;</button>
  <a   href="events.html">
  <img class="sacj" src="/components/in/mmmea eng day pic2.png" alt="pic"></a>
  <img class= "sacj" src="/components/in/land pic 3.jpg" alt="picture">
  <img  class= "sacj" src="/components/in/mmmea members 4.jpg" alt="pic">
  <img class="sacj active" src="/components/in/land pg pic1,2.png" alt="pic" height="447px" width="100%" object-fit="fill">
</div>
<script src="index.js"></script>
</body>
</html>