<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registration.css">
    <title>MUT Mechanical and mechatronics Engineering Association registration form</title>
</head>
<body>
    <div class="topspace"></div>
    <nav>
        <div>
        <div class="d">
            <img src="/components/images/mmmea3;22.png" alt="pic">
            <h1>MMMEA🚀</h1>
        </div>
        <div class="b">
         <h2>
         <a href="index.html">Home</a>  
         <a href="schedule.html">Our Schedule</a> 
         </h2>
        </div>
        </div>
    </nav>
   <H2>To Register:</H2> 
</body>
</html>