<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xxml" href="/components/images/mmmea11.jpg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>How to register with MUT Mechanical and Mechatronics Engineering Association</title>
</head>
<body>
    <div class="topspace"></div>
    <nav class="f">
        <div>
        <div class="d">
            <img class="c" src="/components/images/mmmea3;22.png" alt="pic"></img>
            <span class="a">
            <h1><i>Murang'a University of Technology Mechanical</i></h1>
             <h1><i>and Mechatronics Engineering Association🚀</i></h1>
            </span>
        </div>
        <div class="hamburger-menu">
            <button class="hamburger" onclick="toggleMenu()">☰</button>
        </div>
        <div class="b" id="navLinks">
         <h3>
         <a class="aa" href="index.html">Home</a>
         <a class="aa" href="about.html">About us🪴</a> 
         <a class="aa" href="events.html">Activities</a> 
         <a class="aa" href="schedule.html">Our Schedule⌚</a> 
         <a class="aa" href="register.html">Register☑️</a>
         <a class="aa" href="contact.html">Contact Us📞</a>
         </h3>
        </div>
        </div>
     </nav>
     <p class="reg"><h2 class="registerd">Hello  <a class="lin" href="registration.html">register with us</a> and become a fully a member of MMMEA association</h2></p>
     <script src="register.js"></script>
</body>
</html>